In [10]:
import pandas as pd

### Prep Account Events

In [11]:
df = pd.read_csv("/Users/briandunn/Desktop/Apache Kafka- Kafka Connect/Mock Marketing Schema/data/Account.csv")

df = df.sort_values(by=['CUST_ID'], ignore_index=True)

col_names = ['cust_id', 
            'acquisition_cost', 
            'internet_banking_indicator', 
            'date_first_account_opened', 
            'date_last_account_opened', 
            'pursuit', 
            'primary_advisor_organization_id', 
            'primary_branch_proximity', 
            'primary_spoken_language', 
            'primary_written_language', 
            'satisfaction_rating_from_survey', 
            'secondary_advisor_id', 
            'secondary_advisor_organization_id', 
            'special_te']

df.to_csv('/Users/briandunn/Desktop/Apache Kafka- Kafka Connect/Mock Marketing Schema/data/Account.csv', 
          index=True,
          index_label='id',
          header=col_names
          )

df

,CUST_ID,ACQUISITION_COST,INTERNET_BANKING_INDICATOR,DATE_FIRST_ACCOUNT_OPENED,DATE_LAST_ACCOUNT_OPENED,PURSUIT,PRIMARY_ADVISOR_ORGANIZATION_ID,PRIMARY_BRANCH_PROXIMITY,PRIMARY_SPOKEN_LANGUAGE,PRIMARY_WRITTEN_LANGUAGE,SATISFACTION_RATING_FROM_SURVEY,SECONDARY_ADVISOR_ID,SECONDARY_ADVISOR_ORGANIZATION_ID,SPECIAL_TERMS_INDICATOR
0,CUST-100067,88.307342,True,2018-07-21,2018-07-21,Retirement Planning,1005,9,English,English,very satisfied,125035,1012,True
1,CUST-100282,35.994341,True,2016-08-01,2016-08-01,Estate Planning,1001,900,English,English,satisfied,123118,1005,False
2,CUST-100396,82.418396,False,2018-07-24,2018-07-24,Retirement Planning,1012,409,English,English,very dissatisfied,121703,1003,False
3,CUST-100400,34.445004,True,2016-07-07,2016-07-07,Capital Acquisition,1013,66,English,English,neutral,61244,1005,True
4,CUST-100417,82.580707,False,2016-02-14,2016-02-14,Education Planning,1007,249,English,English,dissatisfied,129031,1009,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,CUST-997681,81.399892,True,2017-06-13,2017-06-13,Estate Planning,1013,562,English,English,satisfied,126277,1009,True
1996,CUST-998954,20.812347,True,2016-04-04,2016-04-04,Retirement Planning,1002,600,English,English,very dissatisfied,72516,1007,True
1997,CUST-998988,53.316159,True,2016-03-08,2016-03-08,Retirement Planning,1010,931,English,English,very satisfied,129594,1017,True
1998,CUST-999095,26.645675,False,2018-08-20,2018-08-20,Capital Acquisition,1012,712,English,English,neutral,58442,1016,True
1999,CUST-999182,83.775473,False,2016-09-22,2016-09-22,Increase Net Worth,1004,633,English,English,very satisfied,95843,1007,False

### Prep Customer Events

In [12]:
df = pd.read_csv("/Users/briandunn/Desktop/Apache Kafka- Kafka Connect/Mock Marketing Schema/data/Customer.csv")

df = df.sort_values(by=['CUST_ID'], ignore_index=True)

col_names = ['cust_id', 
             'gender', 
             'first_name', 
             'last_name', 
             'email', 
             'ssn', 
             'age_range', 
             'annual_income', 
             'birth_year', 
             'current_employment_start_date', 
             'customer_behavior', 
             'education_level', 
             'employment_status', 
             'marital_status', 
             'monthly_net_income', 
             'profession', 
             'retirement_age', 
             'customer_status', 
             'wallet_share_percentage']

df.to_csv('/Users/briandunn/Desktop/Apache Kafka- Kafka Connect/Mock Marketing Schema/data/Customer.csv', 
          index=True,
          index_label='id',
          header=col_names
          )

df

,CUST_ID,GENDER,FIRST_NAME,LAST_NAME,EMAIL,SSN,AGE_RANGE,ANNUAL_INCOME,BIRTH_YEAR,CURRENT_EMPLOYMENT_START_DATE,CUSTOMER_BEHAVIOR,EDUCATION_LEVEL,EMPLOYMENT_STATUS,MARITAL_STATUS,MONTHLY_NET_INCOME,PROFESSION,RETIREMENT_AGE,STATUS,WALLET_SHARE_PERCENTAGE
0,CUST-100067,Female,Brad,Thomas,heatherhunt@yahoo.com,XXX-XX-6919,65 and over,"$105,313.00",1937,1/9/16,Aggressive,Professional,Retired,Divorced,6411,Software Developer,67,Active,9
1,CUST-100282,Male,Tonia,Scahill,tscahill9b@earthlink.net,XXX-XX-8125,65 and over,"$266,280.00",1954,7/11/15,Growth,College,Employed,Married,13995,Data Scientist,67,Active,18
2,CUST-100396,Female,Ashley,Hill,andrealewis@hotmail.com,XXX-XX-5735,65 and over,"$231,983.00",1934,3/6/16,Aggressive,Professional,Selfemployed,Divorced,11787,Software Developer,67,Active,14
3,CUST-100400,Male,Jasmine,Fowler,keithsabrina@yahoo.com,XXX-XX-4419,30 to 39,"$186,430.00",1987,5/9/14,Moderate,High School,Employed,Married,10931,Lawyer,67,Closed,51
4,CUST-100417,Male,Mark,Harrison,debra74@gmail.com,XXX-XX-1240,30 to 39,"$115,831.00",1993,1/26/15,Conservative,High School,Unemployed,Married,2400,Trades person,67,Active,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,CUST-997681,Female,Curtis,Green,rdickerson@hotmail.com,XXX-XX-1034,65 and over,"$186,247.00",1954,4/19/16,Growth,College,Employed,Married,8403,Data Scientist,67,Active,30
1996,CUST-998954,Male,Victoria,Gomez,jasonbeasley@gmail.com,XXX-XX-1693,65 and over,"$361,380.00",1934,1/19/15,Aggressive,Professional,Selfemployed,Married,23715,Software Developer,67,Active,26
1997,CUST-998988,Female,Maximilian,Habbergham,mhabberghamp8@bloomberg.com,XXX-XX-4430,65 and over,"$302,410.00",1944,9/14/14,Aggressive,Professional,Selfemployed,Divorced,17937,Software Developer,67,Active,72
1998,CUST-999095,Male,Orren,Cullin,ocullin4z@yahoo.com,XXX-XX-7402,40 to 54,"$141,748.00",1983,3/27/16,Moderate,High School,Unemployed,Married,3964,Lawyer,67,Active,9
1999,CUST-999182,Female,Archibald,Chevins,achevinsdi@chron.com,XXX-XX-1048,65 and over,"$154,814.00",1946,11/11/15,Growth,University,Selfemployed,Married,4723,Data Scientist,67,Active,60

### Prep Financials Events

In [13]:
df = pd.read_csv("/Users/briandunn/Desktop/Apache Kafka- Kafka Connect/Mock Marketing Schema/data/Financials.csv")

df = df.sort_values(by=['CUST_ID'], ignore_index=True)

col_names = ['cust_id', 
             'monthly_housing_cost', 
             'contact_preference', 
             'credit_authority_level', 
             'credit_score', 
             'credit_utilization', 
             'debt_service_coverage_ratio']

df.to_csv('/Users/briandunn/Desktop/Apache Kafka- Kafka Connect/Mock Marketing Schema/data/Financials.csv', 
          index=True,
          index_label='id',
          header=col_names
          )

df

,CUST_ID,MONTHLY_HOUSING_COST,CONTACT_PREFERENCE,CREDIT_AUTHORITY_LEVEL,CREDIT_SCORE,CREDIT_UTILIZATION,DEBT_SERVICE_COVERAGE_RATIO
0,CUST-100067,1856,mail,Very High,726,0.725897,1
1,CUST-100282,4284,mail,Low,806,0.312935,1
2,CUST-100396,3632,phone,Very High,722,0.493682,1
3,CUST-100400,3340,email,High,732,0.701392,1
4,CUST-100417,717,email,Very High,765,0.720909,1
...,...,...,...,...,...,...,...
1995,CUST-997681,2632,phone,Low,624,0.685277,1
1996,CUST-998954,7448,mail,Very High,657,0.437579,1
1997,CUST-998988,5588,mail,Very High,608,0.743273,1
1998,CUST-999095,1310,phone,High,711,0.293976,1
1999,CUST-999182,1537,email,Low,767,0.361273,1

### Prep Household Events

In [14]:
df = pd.read_csv("/Users/briandunn/Desktop/Apache Kafka- Kafka Connect/Mock Marketing Schema/data/Household.csv")

df = df.sort_values(by=['CUST_ID'], ignore_index=True)#.reset_index(drop=True)

col_names = ['cust_id', 
             'household_id', 
             'household_address', 
             'household_city', 
             'household_country', 
             'household_state', 
             'household_zip_code', 
             'address_last_changed_date', 
             'number_of_dependent_adults', 
             'number_of_dependent_children', 
             'family_size', 
             'head_of_household_indicator', 
             'home_owner_indicator', 
             'urban_code', 
             'primary_advisor_id']

df.to_csv('/Users/briandunn/Desktop/Apache Kafka- Kafka Connect/Mock Marketing Schema/data/Household.csv', 
          index=True,
          index_label='id',
          header=col_names
          )

df

,CUST_ID,HOUSEHOLD_ID,ADDRESS,CITY,COUNTRY,STATE,ZIP,ADDRESS_LAST_CHANGED_DATE,NUMBER_OF_DEPENDENT_ADULTS,NUMBER_OF_DEPENDENT_CHILDREN,FAMILY_SIZE,HEAD_OF_HOUSEHOLD_INDICATOR,HOME_OWNER_INDICATOR,URBAN_CODE,PRIMARY_ADVISOR_ID
0,CUST-100067,HHID-100067,94 E 22nd St #4,Fairfax,USA,VA,22030,3/21/17,0,0,1,False,False,Urban,92799
1,CUST-100282,HHID-100282,52 Haas Pass,Charleston,United States,West Virginia,25336,3/26/14,0,2,4,False,True,City,50564
2,CUST-100396,HHID-100396,915 Lafayette Ave,Bethlehem,USA,PA,18018,8/25/15,0,0,1,True,False,Urban,118324
3,CUST-100400,HHID-100400,43986 E 67th St,South El Monte,USA,CA,91733,1/5/14,0,1,3,True,True,City,144151
4,CUST-100417,HHID-100417,6 Bear Tavern Rd,West Chester,USA,PA,19380,3/23/14,0,1,3,True,True,Rural,51404
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,CUST-997681,HHID-997681,461 Prospect Pl #316,Euless,USA,TX,76040,11/7/15,0,0,2,True,True,City,139321
1996,CUST-998954,HHID-998954,1 N San Saba,Erie,USA,PA,16501,8/13/16,0,0,2,True,False,Urban,113106
1997,CUST-998988,HHID-998988,8 Armistice Place,Olympia,United States,Washington,98506,5/18/15,0,0,1,True,False,Urban,124235
1998,CUST-999095,HHID-999095,702 Manley Hill,Washington,United States,District of Columbia,20238,5/17/15,0,1,3,True,True,City,61560
1999,CUST-999182,HHID-999182,9480 Lotheville Trail,Houston,United States,Texas,77260,10/17/15,0,2,4,True,True,City,52986

### Prep Marketing Events

In [15]:
df = pd.read_csv("/Users/briandunn/Desktop/Apache Kafka- Kafka Connect/Mock Marketing Schema/data/Marketing.csv")

df = df.sort_values(by=['CUST_ID'], ignore_index=True)#.reset_index(drop=True)

col_names = ['cust_id', 
             'advertising_indicator', 
             'attachment_allowed_indicator', 
             'preferred_communication_form', 
             'importance_level_code', 
             'influence_score', 
             'market_group', 
             'loyalty_rating_code', 
             'recorded_voice_sample_id', 
             'referrals_value_code', 
             'relationship_start_date']

df.to_csv('/Users/briandunn/Desktop/Apache Kafka- Kafka Connect/Mock Marketing Schema/data/Marketing.csv', 
          index=True,
          index_label='id',
          header=col_names
          )

df

,CUST_ID,ADVERTISING_INDICATOR,ATTACHMENT_ALLOWED_INDICATOR,PREFERRED_COMMUNICATION_FORM,IMPORTANCE_LEVEL_CODE,INFLUENCE_SCORE,MARKET_GROUP,LOYALTY_RATING_CODE,RECORDED_VOICE_SAMPLE_ID,REFERRALS_VALUE_CODE,RELATIONSHIP_START_DATE
0,CUST-100067,True,True,In Person,Normal priority,72080,Spending,137943,72372,Very High,7/21/18
1,CUST-100282,True,False,Teleconference,High priority,100192,Accumulating,76158,94831,Very High,8/1/16
2,CUST-100396,True,True,Video Conference,Normal priority,64621,Gifting,115400,92790,Very High,7/24/18
3,CUST-100400,True,True,Email,Low priority,114703,Accumulating,127164,92097,Medium,7/7/16
4,CUST-100417,True,True,Email,Low priority,80658,Starting,67512,56503,Very High,2/14/16
...,...,...,...,...,...,...,...,...,...,...,...
1995,CUST-997681,True,True,Teleconference,High priority,136975,Accumulating,103109,57154,Very High,6/13/17
1996,CUST-998954,True,True,Video Conference,Normal priority,134991,Gifting,47664,84960,Very High,4/4/16
1997,CUST-998988,True,False,In Person,Normal priority,109015,Gifting,130165,47747,Very High,3/8/16
1998,CUST-999095,True,False,Email,Low priority,129529,Accumulating,128121,140517,High,8/20/18
1999,CUST-999182,True,True,Teleconference,High priority,52289,Accumulating,111820,58538,Low,9/22/16